

<div class="sidebarwrapper">
    <ul class="sidebarlinks">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Browse Inventory", "Inventory", "Home")</li>
        <li>@Html.ActionLink("Browse by Author", "Author", "Home")</li>
        <li>@Html.ActionLink("Browse by Location", "Location", "Home")</li>
        <li>@Html.ActionLink("Contact Management", "ContactManagement", "Home")</li>
    </ul>
</div>
