@{
    ViewBag.Title = "Home Page";
}

<div class="navbox">
    <div class="navbox-text">
        @Html.ActionLink("Browse Inventory","Inventory","Home", new { @class = "whitelink" })
        @*Browse Inventory*@
    </div>
    <div class="navimagelink">
        <a href='@Url.Action("Inventory","Home")'>
            <img src="~/Content/Images/inventory.jpg" />
        </a>
    </div>
</div>

<div class="navbox">
    <div class="navbox-text">
        @Html.ActionLink("Browse by Author", "BrowseByAuthor", "Home", new { @class = "whitelink" })
        @*Browse By Author*@
    </div>
    <div class="navimagelink">
        <a href='@Url.Action("BrowseByAuthor","Home")'>
            <img src="~/Content/Images/author.jpg" />
           </a>
    </div>
</div>

<div class="navbox">
    <div class="navbox-text">
        @Html.ActionLink("Browse by Publisher", "BrowseByPublisher", "Home", new { @class = "whitelink" })
        @*Browse By Publisher*@
    </div>
    <div class="navimagelink">
        <a href='@Url.Action("BrowseByPublisher","Home")'>
            <img src="~/Content/Images/publisher.jpg" />
        </a>
    </div>
</div>

<div class="navbox">
    <div class="navbox-text">
        @Html.ActionLink("Browse by Location", "BrowseByLocation", "Home", new { @class = "whitelink" })
        @*Browse By Location*@
    </div>
    <div class="navimagelink">
        <a href='@Url.Action("BrowseByLocation","Home")'>
            <img src="~/Content/Images/bookstore.jpg" />
        </a>
    </div>
</div>